.footer {
    background-color: var(--light-pink);
    text-align: center;
    padding: 20px 75px;
    position: relative;
    bottom: 0;
    width: 100%;
    color:#3C4B57;
    display:flex;
    gap: 100px;
}

.footer-contact {
    max-width: 800px;
    text-align: left;
    margin: 10px;

}

.footer p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-column .footer-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #3C4B57;
    background-color: var(--light-pink);    
}

.social-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
.footer-fb-icon {
    height: 40px;
    width: 40px;
    color: #3b5998;
}
.footer-t-icon {
    color: #000000;
    height: 40px;
    width: 40px;
}
.footer-z-icon {
    color: #0A68FE;
    height: 50px;
    width: 50px;
}
.footer-ig-icon {
    color: #CD486B;
    height: 40px;
    width: 40px;
}
.footer-input-holder{
    display: flex;
}
.footer-send{
    height: 62px;
    width: 30px;
    transform: translateX(-25px);
}