.comments-search-area {
    padding: 20px;
    position: relative;
    width: 300px;
}
.comments-search-icon {
    height: 25px;
    width: 25px;
    position: absolute;
            top: 50%;
            right: 23px; /* Adjust to position the icon */
            transform: translateY(-50%);
            pointer-events: none;
}
.comments-search {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    
        width: 100%;
        padding: 10px 40px 10px 10px; /* Adjust padding to leave space for the icon */
        border: 1px solid #ccc;
        border-radius: 4px;
    
}
.comments-search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments-filter{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
