.survey-bg {
    background-image:url(/public/surveyBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow: hidden;
    padding: 8% 0 0 35%;
}

.survey-form-bg {
    background-color: white;
    width: 45%;
    height: 80%;
    padding: 40px;
    color: var(--heavy-pink);
    border-radius: 5%;
}

.user-name, .dob, .gender, .skin-type, .skin-prob {
    display: flex; 
    gap: 10px;
    font-size: 18px;
    padding-top: 15px;
}
.user-name .u-name, .dob .date, .skin-type .skin-type-select, .skin-prob-select {
    height: 40px;
    padding: 5px;
    background-color: var(--light-pink);
    border-radius: 5px;
    color: var(--text-color-blue);
    border: none;
}
.price-segments {
    display: flex; 
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    padding-top: 15px;
}
.price-segment {
    display: flex; 
    flex-direction: column;
}

.gender-input {
    display: flex;
    gap: 5px;
}

.drug-store, .mid-end, .high-end {
    display: flex;
    gap:10px;
}

.finish {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.finish-btn {
    background-color: var(--heavy-pink);
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
