.profile-wrap{
    display:flex;
}
.profile-content-wrap {
    width: 100%;
    padding: 30px 60px;
    background-color: #f8f8f8 ;
}
.profile-content {
    padding: 20px 30px;
    color: var(--text-color-blue);
    background-color: white ;
    width: 100%;
}
.profile-img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.user-profile {
    display: flex;
}
.profile-name {
    padding-left: 40px;
    display:flex;
    flex-direction: column;
}

.profile-username {
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}
.edit-btn {
    width: 110px;
    padding: 10px;
    background-color: var(--heavy-pink);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
}
.post-fler-flwing {
    display: flex;
}
.count {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 50px;
    padding-top: 30px;
    font-size: 20px;
}

.story-text-box{
    padding-top: 10px;
    padding-left: 50px;
    height: 50px;
    width: 100%;
}
.story-text{
    font-size: 20px;
    width: 80%;
}

.pro5-post, .pro5-like {
    padding: 10px;
}
.first-post {
    height: 300px;
    width: 250px;
    background-color: var(--light-pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

