.register-bg {
    background-image: url(/public/LoginTheme.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.register-form-bg {
    background-color: white;
    border-radius: 5%;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: var(--heavy-pink);
    height: fit-content;
}
.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.register-field {
    display: flex;
    flex-direction: column;
    color: var(--heavy-pink);
    font-size: 20px;
    gap: 10px;
    width: 100%;
}

.register-field input {
    border-radius: 20px;
    height: 45px;
    background-color: var(--light-pink);
    border: none;
    padding: 15px;
    color: var(--text-color-blue);
}

.re-signin-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--heavy-pink);
    font-size: 17px;
    gap: 5px;
    height: 20%;
    width: 100%;
}
.re-signin-btn {
    color: var(--heavy-pink);
    font-size: 17px;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    border: none;
    background-color: var(--heavy-pink);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.re-signin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-register-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gender {
    color: var(--heavy-pink);
    outline: unset;
}
